.swiper {
  width: 100%;
  height: 100%;

}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;


  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


    .parte6 {
        background-image: url(../assets/img/fundo_escuro.jpeg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }


    .parte6 h2{
        text-align: center;
        padding: 80px 0;
        font-size: 26px;
        color: #ff7200;
    }

    .parte6 .banner .imagem_celular{
        margin-top: 100px;
        width: 100%;
    }

    
